{% extends "base.html" %}
{% block content %}
    <h2 class="mb-4">Cost Analysis</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Spending by Category</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for category, amount in categories.items() %}
                            <li class="list-group-item d-flex justify-content-between">
                                <span>{{ category }}</span>
                                <span>${{ "%.2f"|format(amount) }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}